{% include 'templates/_top.html' %}

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">


					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Welcome to <span style="color:#f54c53">your</span> password storage solution</span>
							<h1>Because the thing we love and trust the most is our mobile phones</h1>
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							{{ self.body() }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="gtco-features" class="border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>MySecret<span style="color:#f54c53">.</span>Studio Features</h2>
					<p>Once a great man said "I've got 99 problems but storing my password on MySecret<span style="color:#f54c53">.</span>Studio ain't one."</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-harddrives"></i>
						</span>
						<h3>Storage</h3>
						<p>You can now store up to 40 passwords</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shield"></i>
						</span>
						<h3>Security</h3>
						<p>We encrypt your passwords before storing them on our database</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-mobile"></i>
						</span>
						<h3>Quick Retrieval</h3>
						<p>Receive your password within seconds on your mobile number </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-layers-alt"></i>
						</span>
						<h3>Updating</h3>
						<p>Made as easy as storing your password </p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="gtco-counter" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Fun Facts</h2>
				</div>
			</div>
			<div class="row">

				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-loop"></i>
						</span>
						<span class="counter js-counter" data-from="0" data-to="75" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Of 100 people use same password for multiple accounts</span>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-timer"></i>
						</span>
						<span class="counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Top passwords list has barely been changed in the last five years</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-comments"></i>
						</span>
						<span class="counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Out of 100 teens share their passwords with friends</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-thumb-up"></i>
						</span>
						<span class="counter js-counter" data-from="0" data-to="13" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Minimum length of password recommended by experts</span>

					</div>
				</div>

			</div>
		</div>
	</div>

{% include 'templates/_footer.html' %}