{% extends "templates/layout.html" %}

{% block body %}

							<div class="form-wrap">
								<div class="tab">
									<ul class="tab-menu">
										<li class="active gtco-first"><a href="#" data-tab="signup">Punch & Store</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<form action="/passwordadd" method="post" id="submit-form"">
												<div class="row form-group">
													<div class="col-md-12">
														<label for="clue">Give your password a name</label>
														<input type="text" class="form-control" id="clue" name="clue" data-validation="length" data-validation-length="3-20" data-sanitize="trim lower" value="">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="pass_confirmation">Password</label>
														<input type="password" class="form-control" id="pass_confirmation" name="pass_confirmation" data-validation="length" data-validation-length="2-50" value="">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="pass">Repeat Password</label>
														<input type="password" class="form-control" id="pass" <input name="pass" data-validation="confirmation" value="">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="telNo">UK Mobile Number</label>
														<input type="text" class="form-control" id="mobilenumber" name="mobilenumber" data-validation="mobilenumber" placeholder="10 digets, no country or leading 0">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" class="btn btn-primary" value="STORE">
													</div>
												</div>
											</form>
										</div>
                                    </div>
								</div>
							</div>
{% endblock body %}
