{% include 'templates/_top.html' %}
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <center><h1>Roger that <span style="color:#f54c53">!</span></h1></center>
						</div>

                    </div>
                </div>
            </div>
        </div>
	</header>
{% include 'templates/_footer.html' %}

